﻿@model IEnumerable<Idento.ManagerUI.LoginProviders.Models.ListItem>

<h2>Login Providers</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var loginProvider in Model)
        {
            <tr class="vert-align">
                <td></td>
                <td class="text-right">
                    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Edit", new { id = loginProvider.Id })'">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        Edit
                    </button>
                    <button type="button" class="btn btn-danger btn-remove" data-action="@Url.Action("Delete", new { id = loginProvider.Id })">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create")" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    New app
</a>

@section Scripts {
    <script type="text/javascript">
        $('.btn-remove').click(function () {
            if (!confirm("Are you sure you want to remove this login provider?"))
                return;
            location.href = $(this).data('action');
        });
    </script>
}